canvas#modelCanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

button {
    position: fixed;
    top: 10px;
    z-index: 10;

    &.prev {
        left: 10px;
    }

    &.next {
        right: 10px;
    }
}